:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* main {
  background-color: black;
} */
button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  
}

body {
  background-color: black;
  color: black;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#typewriter {
  overflow: hidden; /* Hide overflow characters */
  border-right: .15em solid; /* Add a vertical border to simulate cursor */
  white-space: nowrap; /* Prevent text from wrapping */
  animation: typing 1s steps(40) ; /* Call the typing animation */
  font-size: 59px;
  align-self: center;
}

#subtitle {
  visibility: hidden; /* Initially hide the subtitle */
  font-size: 50px;
  align-self: center;
}


@keyframes typing {
  from {
      width: 0; /* Start from no width */
  }
  to {
      width: auto; /* Increase width to fit content */
  }
}

/* Imagenes */

.image-container {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  margin-bottom: 0%;
  /* background-color:aqua; */
  background-color:black;
  /* color: black; */
  width: 100vw; /* Set the width to 100% of the viewport width */
  height: 60vh; /* Set the height to 60% of the viewport height */
}

.image {
  width: 300px;
  height: auto;
  visibility: hidden; /* Hide the image initially */
  animation: showImage 0s forwards;
  position: absolute;
}

.image:nth-child(1) {
  animation-delay: 10.5s;
}

.image:nth-child(2) {
  animation-delay: 11s;
  right: 650px;
  margin-top: 50px;
}

.image:nth-child(3) {
  animation-delay: 11.5s;
  margin-top: 200px;
  left: 680px;
}

.image:nth-child(4) {
  animation-delay: 12.5s;
  right: 610px;
  margin-top: 300px;
}

.image:nth-child(5) {
  animation-delay: 13s;
  left: 630px;
  margin-top: 80px;
}

.image:nth-child(6) {
  animation-delay: 12s;
  margin-top: 270px;
  right: 900px;
}

.image:nth-child(7) {
  animation-delay: 13.5s;
  left: 450px;
  margin-top: 150px;
}

.image:nth-child(8) {
  animation-delay: 14s;
  right: 390px;
}

.image:nth-child(9) {
  animation-delay: 14.5s;
  left: 400px;
  margin-top: 400px;
}

.image:nth-child(10) {
  animation-delay: 15s;
  right: 320px;
  margin-top: 350px;
}

.image:nth-child(11) {
  animation-delay: 15.5s;
  left: 330px;
  margin-top: 10px;
}

@keyframes showImage {
  to {
    visibility: visible;
  }
}
