:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 20px auto; 
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color:black; 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

body.no-scroll, html.no-scroll {
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

#typewriter {
  overflow: hidden; 
  border-right: .15em solid; /* Agrega un borde vertical para simular un cursor */
  white-space: nowrap; 
  animation: typing 1s steps(40) ; /* Llama a la función typing */
  align-self: center;
}

#subtitle {
  visibility: hidden; /* Esconde el subtítulo hasta que termine de escribirse el título */
  align-self: center;
}

@keyframes typing {
  from {
      width: 0; /* Start from no width */
  }
  to {
      width: auto; /* Increase width to fit content */
  }
}

 /* Importo fonts */
  /* Rubik: Títulos (sujeto a cambios) */
  @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
 /* IBM Plex Mono (bajada) */
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
  /* IBM Plex Sans (la que mas usamos) */
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    background-image: url('/public/gifs/fondo_header.gif');
    background-size:80%;
    background-position: center calc(50% - 20px); 
    background-repeat: no-repeat; 
    height: 100vh;
    width:100%;
  }

  .headline { /* Título */
    font-size: 60px;
    line-height: 1.2;
    font-weight: black;
    text-align: center;
    margin: 20px;
    color:white;
    font-family: 'Rubik';
    width: 100%;
    margin-top: 0%;
  }

  .subtitulo {
    font-size: 50px;
    line-height: 1.2;
    font-family: 'Rubik';
    color:white;
    margin-top: 0%;
  }

  .bajada { 
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    font-family:'IBM Plex Mono';
    color:white
  }
 
  a { /* Nombres */
    color:crimson;
    font-family:'IBM Plex Mono';
    font-weight: bold;
    text-decoration: underline;
  }

  /* Estilos para el scroller */

  .foreground_container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin-top: 10%; 
    margin-bottom: 10%;  
    width: 1536px;
    height: 100vh;
    background-image: url('/public/images/fondo_container_chico.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
  }
  
  .step_foreground { /* container de la introduccion */
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    width: 1536px;
  }

  .epi_foreground { /* recuadros donde esta el texto */
    background-color:white;
    border-radius: 25px; 
    width: 30vw; 
    color:black;
    font-family: 'IBM Plex Sans';
    font-size: 20px;
    text-align: center;
    position: sticky;
    top: 300px; /* AJUSTAR */
    padding:1.5%;
    position: static;
  }

  .intro-graficos {
    margin: 100px auto;
    max-width: 740px;
    color: white;
    font-size: 20px;
    line-height: 2;
    text-align: left;
  }

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:black;
  height: 100vh; 
  width: 80vw;
  margin-top: 100px;
}


.cuadroPrompt { /* acomoda el png */
  visibility: hidden; 
  position: absolute;
  align-self: center;
  margin-bottom: 35%;
}

#textoPrompt {
  font-size: 20px;
  font-family: 'IBM Plex Sans';
  color:black;
  font-style: italic;
  z-index: 10;
  margin-bottom: 43%;
  margin-right: 35%;
}

.texto2 {
  font-size: 20px;
  font-family: 'IBM Plex Sans';
  color: white;
}

.image {
  width: 300px;
  height: auto;
  visibility: hidden;
  position: absolute;
}

.image.visible {
  visibility: visible; 
}

.container-papa {
  width: 1536px;
  height: auto;
  background-color: black;
  align-items: center; 
  justify-content: center; 
}

.tweets-papa {
  margin-top: 100px;
}

.tweets-papa img {
  width: 100%;
  height: auto;
}

.imagenes-papa {
  background-color: darkorange;
  width: 1536px;
  height: 100vh;
}



/* IMÁGENES: Esto vuela */

/* Keyframes to make images visible */
/* @keyframes showImage {
  to {
      visibility: visible;
  }
} */


/* .image:nth-child(1) { 
  right: 1000px;
}

.image:nth-child(2) { 
  right: 10px;
  margin-top: 90px;
}

.image:nth-child(3) { 
  right: 350px;
  width: 350px;
}

.image:nth-child(4) { 
  width: 360px;
  left: 33%;
  margin-top: 60px;
}

.image:nth-child(5) { 
  left: 10%;
  width: 300px;
}

.image:nth-child(6) { 
  margin-top: 280px;
  left: 36%;
  width: 360px;
}

.image:nth-child(7) { 
  left: 350px;
  margin-top: 350px;
}

.image:nth-child(8) { 
  right: 4%;
  margin-top: 270px;
}

.image:nth-child(9) { 
  left: 4%;
  margin-top: 250px;
}

.image:nth-child(10) { 
  right: 19%;
  margin-top: 200px;
  width: 270px;
}

.image:nth-child(11) { 
  right: 5%;
  width: 400px;
  margin-bottom: 106px;
}

.image:nth-child(12) { 
  right: 5%;
  width: 400px;
  margin-bottom: 106px;
} */


/* Imágenes del carrusel */
/* .carousel-container {
  position:relative;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
}
.carousel-title{
  color: white;
  font-size: 35px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.carousel {
  display: flex;
  width: 100%;
  overflow-x: scroll; /* Permitir desplazamiento horizontal */
  scroll-snap-type: x mandatory; /* Hacer que cada slide se ajuste a la vista */
}

.carousel-slide {
  position: relative;
  display: flex;
  flex: 0 0 auto; /* No crecer, no encoger, tamaño automático */
  align-items: center;
  justify-content: center;
  min-width: 100%;
  transition: transform 0.5s ease-in-out; /* Transición para deslizamiento */
}

.carousel-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: opacity 0.5s ease-in-out; /* Transición para opacidad */
}

.carousel-imgs img {
  max-width: 100%;
  max-height: 100%;
  opacity: 1; /* Inicialmente mostramos las imágenes */
  transition: opacity 0.5s ease-in-out; /* Transición para opacidad */
}

.img-vs {
  width: 500px;
  height: auto;
  margin: 0 10px;
}

.prev, .next {
  position: absolute; /* Posición absoluta para que los botones puedan estar superpuestos */
  top: 50%; /* Ajustar la posición verticalmente */
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 18px;
  z-index: 1; /* Para que estén sobre las imágenes */
}

.prev {

  left: 10px;
}

.next {
  right: 10px;
}

